body {
    background-color: gainsboro;
}

.section1 {
    text-align: center;
}

.x-files {
    display: block;
    margin: auto;
    border-width: 5px;
    border-style: solid;
    border-color: whitesmoke;
    padding: 10px;
}

.intro {
    text-align: center;
    font-size: 75;
    font-family: 'Raleway', sans-serif;

}
.characters {
    text-align: center;
    list-style-type: none;
    
}

