/* wiki site
http://x-files.wikia.com/wiki/Fan_Websites*/
 /*episodes 
https://en.wikipedia.org/wiki/Ice_(The_X-Files)
https://en.wikipedia.org/wiki/Beyond_the_Sea_(The_X-Files)
https://en.wikipedia.org/wiki/Clyde_Bruckman%27s_Final_Repose
https://en.wikipedia.org/wiki/X-Cops
https://en.wikipedia.org/wiki/Via_Negativa_(The_X-Files)
*/

body {
    background-color: gainsboro;
}


@font-face {
    font-family: X-Files;
    src: url(x-files.ttf);
}

.section1 {
    font-family: X-Files;
    font-size: 100px;
    text-align: center;
    color: black;
}



a:hover {
    color: red;
}

.section1 {
    text-align: center;

}

.x-files {
    display: block;
    margin: auto;
    border-width: 5px;
    border-style: solid;
    border-color: whitesmoke;
    padding: 10px;
}

.intro {
    text-align: center;

    font-size: 20px;
    font-family: 'Raleway', sans-serif;

}

.characters {
    text-align: center;
    list-style-type: none;
}
.characters a:hover {
font-size: 75;
font-family: 'Raleway',sans-serif;

}


